name: CI

on:
  push:
    branches:
      - main
    paths:
      - 'projects/**'
  pull_request:
    branches:
      - main
    paths:
      - 'projects/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build @ngx-flagr/core
        run: npm run build:core

      - name: Build @ngx-flagr/routing
        run: npm run build:routing

      - name: Test @ngx-flagr/core
        run: npm run test:core:ci

      - name: Test @ngx-flagr/routing
        run: npm run test:routing:ci

      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: ./coverage/
